{% raw %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endraw %}
<h1 align = "center"> Top 10 Gainers for Today </h1>
<br>
<hr>
<table class = "table table-striped table-bordered table-condensed">
<tr> 
<td><b> Name </td>
<td><b>Code </td>
<td><b>Open </td>
<td><b>High </td>
<td><b>Low </td>
<td><b>Close </td>
<td><b>Gain (in %) </td>
</tr>
{% for e in elements %}
<tr class = "success"> 
<td> {{e}} </td>
<td> {{conn.hgetall(e)["code"]}} </td>
<td> {{conn.hgetall(e)["open"]}} </td>
<td> {{conn.hgetall(e)["high"]}} </td>
<td> {{conn.hgetall(e)["low"]}} </td>
<td> {{conn.hgetall(e)["close"]}} </td>
<td> {{conn.hgetall(e)["gain"]}} % </td>
</tr>
{% endfor %}
</table>
<br> 
<hr> 
<form class="form-inline" method="post" action = /greetUser border="1px solid black">
  <h4> Find by Individual Names &nbsp &nbsp </h4> <input  style="border: solid 2px #6E6E6E;color:#000000" name="name"> 
  <input type="submit" value="Submit">
</form> 
